:root {

    --ColorWhite: #ffffff;
    --ColorCloud: #FAFCFE;
    --ColorGreyLight: #D4DCE2;
    --ColorDark: #050B1B;
    --ColorDark-RGB: 8, 10, 14;
    --ColorBlack: #06070C;
    --ColorBlack-RGB: 6, 7, 12;
    --ColorGoldLight: #EEC337;
    --ColorGoldLight-RGB: 238, 195, 55;
    --ColorGoldDark: #AF912F;
    --ColorRed: #9B0102;
    --ColorRed-RGB: 155, 1, 2;
    --ColorOrange: #E44E20;
    --ColorOnyx: #0A1A3D;
    --ColorOnyx-RGB: 10, 26, 61;
    --ColorOnyxLight: #143680;
    --ColorOnyxLight-RGB: 20, 54, 128;
    --ColorPeach: #F6ECB4;
    --ColorMetalLight: #A9927C;
    --ColorMetalDark: #917256;
    --ColorMetalGoldLight: #D1AE56;
    --ColorMetalGoldDark: #BB913C;
    --ColorMetalSilverLight: #a9abb4;
    --ColorMetalSilverDark: #A1A2A7;
    --ColorMetalBronzeLight: #b68254;
    --ColorMetalBronzeDark: #B4743B;

    --TextColor: var(--ColorWhite);
    --PrimaryColor: var(--ColorGoldLight);
    --FocusColor: var(--ColorPeach);
    --BackgroundColor: var(--ColorBlack);
    
}

// $bg: #0a0a0a;
// $fg: #f3f3f3;
// $muted: #c9c9c9;
// $gold: #d5b46f;
// $accent: #b60236;