/**
 * Font Face
 */
@font-face {
    font-family: 'Tongari';
    src: url('/fonts/Tongari-Regular.woff2') format('woff2'),
        url('/fonts/Tongari-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sedan';
    src: url('/fonts/Sedan-Regular.woff2') format('woff2'),
        url('/fonts/Sedan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-variant-numeric: lining-nums proportional-nums;
}

@font-face {
    font-family: 'Tongari';
    src: url('/fonts/Tongari-RegularItalic.woff2') format('woff2'),
        url('/fonts/Tongari-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tongari';
    src: url('/fonts/Tongari-BoldItalic.woff2') format('woff2'),
        url('/fonts/Tongari-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tongari';
    src: url('/fonts/Tongari-Bold.woff2') format('woff2'),
        url('/fonts/Tongari-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body, span, div, p, li, ol, a, address, input {
    font-family: 'Tongari', sans-serif;
    font-weight: normal;
    font-style: normal;
    // letter-spacing: -0.01em;
    line-height: 1.4em;
}

b, a{
    font-family: 'Tongari', sans-serif;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sedan', serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.03em;
    line-height: 1.1em;
}

span, p{
    white-space: pre;
}

.num{
    font-family: 'Sedan', serif;
    font-weight: normal;
    font-variant-numeric: lining-nums proportional-nums;
}