/**
 * Add a clearfix
 *
 * Should be used on the containing element
 */

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.num, .address, span.num {
    -webkit-touch-callout: none;
    -webkit-user-select: text;
    -webkit-text-size-adjust: none;
}